.main-login-panel{
    background-color: #262626;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

.back-house-link{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 10;
    color: #fff;
    font-size: 30px;
}

.back-house-link:hover{
    color: #fff;
}

/* Start Main Panels */
.main-login-panel .right{
    position: absolute;
    right: 0;
}

.main-login-panel .left{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* End Main Panels */

/* Start Right Side Animation */
.main-login-panel #sony{
    position: absolute;
    right: 0;
    transition: right .9s cubic-bezier(1, 0, 0, 1);
}

.main-login-panel #xbox{
    position: absolute;
    right: -100%;
    transition: right .9s cubic-bezier(1, 0, 0, 1);
}

input:checked ~ .main-login-panel #sony{
    right: -100%;
}

input:checked ~ .main-login-panel #xbox{
    right: 0;
}
/* End Right Side Animation */

/* Start Left Side Animation */
.main-login-panel .left .login-panel{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: left .9s cubic-bezier(1, 0, 0, 1);
}

.main-login-panel .left .register-panel{
    position: absolute;
    left: -100%;
    transform: translate(-50%, 0);
    transition: left .9s cubic-bezier(1, 0, 0, 1);
}

input:checked ~ .main-login-panel .login-panel{
    position: absolute;
    left: -100%;
}

input:checked ~ .main-login-panel .register-panel{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
/* End Left Side Animation */

/* Start Images of Right Side */
.main-login-panel .right img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-login-panel .left img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/* End Images of Right Side */

/* Start Btns */
.main-login-panel .left .login-panel .btn-login{
    background-color: #2AA3D9;
    color: #fff;
}

.main-login-panel .left .login-panel .btn-login:hover{
    background-color: #0E7CC0;
}

.main-login-panel .left .register-panel .btn-register{
    background-color: #42A415;
    color: #fff;
}

.main-login-panel .left .register-panel .btn-register:hover{
    background-color: #0F7B0E;
}
/* End Btns */

/* Start Changing Panel */
.main-login-panel .left .login-panel .change-panel{
    color: #2AA3D9;
    cursor: pointer;
}

.main-login-panel .left .register-panel .change-panel{
    color: #42A415;
    cursor: pointer;
}
/* End Changing Panel */


/* Mobile */
@media (max-width: 767px){
    #sony{
        display: none;
    }

    #xbox{
        display: none;
    }
}