.main-detail{
    background: #212121;
    color: #dadada;
}

/* Start Region Header */
.main-detail .header span{
    font-size: 2.5rem;
    color: #777;
    vertical-align: middle;
    position: relative;
    top: 5px;
}

.main-detail .header span i{
    position: absolute;
    right: 0.7rem;
    font-size: 1.1rem;
    top: 0.5rem;
}

.main-detail .header .title{
    font-size: 1.9rem;
    font-weight: bold;
    color: #fff;
}
/* End Region Header */

/* Start Region Main */
/* Rates Top */
.main-detail .main .main-img{
    border-right: 1px dashed #707070;
}

.main-detail .main .main-rate{
    height: 130px;
    border-bottom: 1px dashed #707070;
}

.main-detail .main .main-rate i{
    font-size: 2.4rem;
}

.main-detail .main .main-rate .score{
    font-size: 2.1rem;
    color: #fff;
}

.main-detail .main .main-rate .text{
    font-size: .8rem;
    color: #bbb;
    position: absolute;
    left: 0;
    top: 2.4rem;
    white-space: nowrap;
}

/* Rates Down */
.main-detail .main .main-rate #ASRating_games-container {
    display: inline-block;
    text-align: center;
    position: relative;
}

.main-detail .main .main-rate #ASRating_games .stars {
    font-size: 0;
    line-height: 1.5;
    margin-bottom: 4px;
}

.main-detail .main .main-rate #ASRating_games .star-gold {
    background-image: url(https://gamefa.com/wp-content/plugins/ASRating-games/public/images/star-gold.png);
}

.main-detail .main .main-rate #ASRating_games .star {
    background-image: url(https://gamefa.com/wp-content/plugins/ASRating-games/public/images/star-gray.png);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 18px;
}

.main-detail .main .main-rate #ASRating_games .score {
    font-size: 13px !important;
    opacity: .7;
    padding: 3px 10px 0 0;
}

.main-detail .main .main-rate #ASRating_games-waiting {
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: none;
}

/* Table */
.main-detail .main-table{
    overflow-x: auto;
}

.main-detail .main-table::-webkit-scrollbar{
    width: 20px;
}

.main-detail .main-table::-webkit-scrollbar-thumb{
    background: #dd244c; 
    border-radius: 5px;
}

.main-detail .main-table::-webkit-scrollbar-thumb:hover{
    background: #b30000; 
}

/* Platforms */
.platform h4 i {
    font-size: 1.6rem;
    vertical-align: middle;
}

.platform .red-title {
    color: #dd244c;
}

.platform .fnt-light.title {
    font-size: 1.3rem;
}

.platform .font-size-1 {
    font-size: .9rem;
}

.platform .items span, .game-review .platform-list span {
    background: #313131;
    height: 1.7rem;
    border-radius: 0.3rem;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    color: #fff;
    padding: 0.3rem !important;
}

.platform a:hover {
    transition: all .2s;
    color: #DD244A!important;
    cursor: pointer;
}

.platform .fnt-light {
    font-weight: 300;
    text-decoration: none;
}

/* Complete Details */
table .clr1 {
    background: #555;
    font-size: .85rem;
}

table .clr2 {
    background: #666;
    font-size: .85rem;
}

table .clr3 {
    background: #777;
    font-size: .85rem;
}

.main-detail .main .main-detail{
    height: 220px;
}
/* End Region Main */

/* Start Region Slider */
.title-slider{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #212121;
}

.main-slider img{
    height: 400px;
}
/* End Region Slider */

/* Start Region Trailer */
.title-trailer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #212121;
}

.main-trailer embed{
    height: 400px;
}
/* Start Region Trailer */




/* Mobile */
@media (max-width: 767px) { 
.fa-bookmark{
    display: none;
}
#ASRating_games .stars{
    display: none;
}
.main-detail{
    min-height: 400px;
}
}