/* Start Region Post */
.post-content .post-image {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.post-content .post-image:hover{
    border-color: #dd244c;
    transition: all .3s;
}

.post-content .post-image .post-image-link .post-category{
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: #dd244c;
    color: #fff;
    z-index: 10;
    padding: 3px 15px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
}

.post-content .post-image:hover > .post-image-link .post-category{
    visibility: visible;
    opacity: 1;
}

.post-content .post-image .post-image-link .post-category a{
    color: #fff;
    text-decoration: none;
}

.writer .writer-name{
    color: #363636;
    font-weight: 500;
}

.writer .writer-avatar{
    width: 30px;
    border-radius: 50%;
}

.writer .writer-release-post{
    color: #363636;
    font-weight: 500;
}

.writer .writer-release-post i{
    color: #dd244c;
}

.like-btns{
    cursor: pointer;
}

.post-content .post-info .post-desc{
    white-space: nowrap; 
    width: 700px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
/* End Region Post */

/* Start Region Hot News */
.title-hot-news{
    color: #dd244c;
}

.main-hot-news-links{
    list-style-type: none;
    padding-left: 0;
}

.main-hot-news-links li{
    border-bottom: solid 1px #dee2e6;
}

.main-hot-news-links li a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
}

.main-hot-news-links li a:hover{
    background-color: #F7F7F7;
    color: #dd244c;
    transition: all .2s;
}
/* End Region Hot News */

/* Start Region Comments */
.title-comments{
    color: #dd244c;
}

.main-comment{
    background: #fcfcfc;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
    border-left: 2px solid #dedede;
}

.main-comment p{
    padding-left: 0.5rem;
    margin-bottom: 0.4rem;
    font-size: 13px;
    line-height: 24px;
    overflow-wrap: break-word;
    color: #74748E;
}

.main-comment .avatar{
    border-radius: 50%;
}

.main-comment .username{
    color: #007BFF;
}

.main-comment .date-released{
    font-size: 0.75rem;
}


/* Mobile Version */
@media (max-width: 767px){
    .post-content .post-info .post-desc{
        white-space: nowrap; 
        width: 250px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}