.main-results-search{
    background-color: #ffffff;
    height: 150px;
    z-index: 1;
    overflow-y: auto;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    border: 2px solid #CED4DA;
}

.search-results{
    display: block;
    color: #000000;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-bottom: 1px solid #CED4DA;
    padding-bottom: 10px;
}

.search-results:hover{
    color: #00acac;
    text-decoration: none;
}