body{
    background-color: #f1f1f1;
}
.header.navbar-transparent {
    background-color: #2d353c;
}

.label-image-ad span{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: rgba(0,0,0,.65);
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
}

.section-title:before{
    background: #dd244c;
}

.post-title, .post-title a, .read-btn-container a, .sidebar-recent-post > li .title a{
    color: #2d353c;
}

.post-title, .post-title a, .read-btn-container a, .sidebar-recent-post > li .title a:hover{
    color: #dd244c;
}