.header.navbar-transparent .navbar-brand .brand-text a{
    color: #fff;
    text-decoration: none;
}

.header.navbar-transparent .navbar-brand .brand-text a:hover{
    color: #dd244c;
    transition: all .2s;
}

.header.navbar-transparent.navbar-sm .navbar-brand .brand-text a {
    color: #2d353c;
    text-decoration: none;
}

.header.navbar-transparent.navbar-sm .navbar-brand .brand-text a:hover {
    color: #dd244c;
    transition: all .2s;
}

.header.navbar-transparent .navbar-brand .brand-text .select-lang{
    cursor: pointer;
}