/* Start Region TopGames */
.sidebar-list li a {
    text-decoration: none;
}

.sidebar-list li a:hover {
    color: #dd244a;
    transition: all .2s;
}
/* End Region TopGames */


/* Start Region Recent Posts */
.post-title, .post-title a, .read-btn-container a, .sidebar-recent-post > li .title a {
    text-decoration: none;
}

.post-title, .post-title a, .read-btn-container a, .sidebar-recent-post > li .title a:hover {
    color: #dd244a;
    transition: all .2s;
}
/* End Region Recent Posts */

/* Start Region Social */
.sidebar-social-list > li a:hover {
    transition: all .2s;
}
/* End Region Social */
